.form {
  display: flex;
  padding: 15px;
  margin: 0 75px;
  border: 1px solid blue;
  border-radius: 10px;
}

.setStation {
  width: 30%;
  margin-right: 3%;
}

.dataPicker {
  width: 20%;
  margin-right: 4%;
}

.button {
  height: 50px;
  width: 10%;
  margin: auto 0;
}